<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item active">admin</li>
      </ol>
    </nav>

    <ul>
      <li><%= link_to 'Manuscripts', manuscripts_path %></li>
      <li><%= link_to 'Song instances', song_instances_path %></li>
      <li><%= link_to 'Songs', songs_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Performances', performances_path %></li>
      <li><%= link_to 'External song texts', external_song_texts_path %></li>
      <li><%= link_to 'External witnesses', external_witnesses_path %></li>
    </ul>
    <ul>
      <li><%= link_to 'Annotations', annotations_path %></li>
      <li><%= link_to 'Users', users_path %></li>
    </ul>
  </div>
</div>
