<p id="notice"><%= notice %></p>

<p>
  <strong class="dams-key">UID:</strong>
  <%= @user.uid %>
</p>


<p>
  <strong class="dams-key">Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong class="dams-key">Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong class="dams-key">Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong class="dams-key">Current sign-in at:</strong>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <strong class="dams-key">Last sign-in ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <strong class="dams-key">Last sign-in at:</strong>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <strong class="dams-key">Last sign-in ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <strong class="dams-key">Sign-in count:</strong>
  <%= @user.sign_in_count %>
</p>

<p>
  <strong class="dams-key">Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong class="dams-key">Updated at:</strong>
  <%= @user.updated_at %>
</p>

<div class="mt-4"></div>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
