<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">home</a></li>
    <li class="breadcrumb-item"><a href="/admin">admin</a></li>
    <li class="breadcrumb-item"><a href="/data/song_instances">song instances</a></li>
    <li class="breadcrumb-item active"><%= @song_instance.id %></li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong class="dams-key">ID:</strong>
  <%= @song_instance.id %>
</p>

<p>
  <strong class="dams-key">Label:</strong>
  <%= @song_instance.label %>
</p>

<p>
  <strong class="dams-key">Manuscript:</strong>
  <a target="_blank" href="<%= "/data/manuscripts/#{@manuscript.id}" %>"><%= @manuscript.title %></a>
</p>

<p>
  <strong class="dams-key">Folio:</strong>
  <%= @song_instance.folio %>
</p>

<p>
  <strong class="dams-key">Song:</strong>
  <a target="_blank" href="<%= "/data/songs/#{@song.id}" %>"><%= @song.first_line %></a>
</p>

<p>
  <strong class="dams-key">Verse form:</strong>
  <%= @song_instance.verse_form %>
</p>

<p>
  <strong class="dams-key">Song text:</strong>
  <span class="dams-pre">
    <%= @song_instance.song_text %>
  </span>
</p>

<p>
  <strong class="dams-key">Annotations:</strong>
  <ul>
    <% @song_instance.annotations.each do |anno| %>
      <li><a target="_blank" href="<%= "/data/annotations/#{anno.id}" %>"><%= anno.text %></a></li>
    <% end %>
  </ul>
</p>

<div class="mt-3">
  <%= link_to 'Edit', edit_song_instance_path(@song_instance) %> |
  <%= link_to 'Back', song_instances_path %>
</div>