<%= form_for(annotation) do |f| %>
  <% if annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annotation.errors.count, "error") %> prohibited this annotation from being saved:</h2>

      <ul>
      <% annotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :song_instance_id %><br/>
    <%= annotation.song_instance_id %> -
    <%= link_to annotation.song_instance.label, "/data/song_instances/#{annotation.song_instance_id}", target: '_blank' %>
  </div>

  <div class="form-group">
    <%= f.label :seq %>
    <%= f.text_field :seq, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :canvas_id %>
    <%= f.text_field :canvas_id, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :manifest_url %>
    <%= f.text_field :manifest_url, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :target_selector %><br/>
    <%= f.text_area :target_selector, rows: "10", class: 'form-control', readonly: true %>
  </div>

  <div class="actions mt-4">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
