<%= form_for(manuscript, html: {id: 'manuscript-form'}) do |f| %>
  <% if manuscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manuscript.errors.count, "error") %> prohibited this manuscript from being saved:</h2>

      <ul>
      <% manuscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :manifest_url %>
    <%= f.text_field :manifest_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :long_desc %>
    <%= f.text_area :long_desc, class: 'form-control' %>
  </div>

  <div class="actions mt-4">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
