<%= form_for(performance) do |f| %>
  <% if performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :media_type %>
    <%= f.text_field :media_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :short_desc %>
    <%= f.text_field :short_desc, class: 'form-control' %>
  </div>

  <%= form_song_selector(songs: @songs, model_name: 'performance') %>

  <div class="actions mt-4">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
