<p id="notice"><%= notice %></p>

<p>
  <strong class="dams-key">Type:</strong>
  <%= @performance.media_type %>
</p>


<p>
  <strong class="dams-key">URL:</strong><br/>
  <%= @performance.url %>
</p>

<p>
  <strong class="dams-key">Short desc:</strong><br/>
  <%= @performance.short_desc %>
</p>

<p>
  <strong class="dams-key">Song:</strong>
  <a target="_blank" href="<%= "/data/songs/#{@performance.song.id}" %>"><%= @performance.song.first_line %></a>
</p>

<div class="mt-4"></div>
  <%= link_to 'Edit', edit_performance_path(@performance) %> |
  <%= link_to 'Back', performances_path %>
</div>
