<p id="notice"><%= notice %></p>

<p>
  <strong>Is primary version:</strong>
  <%= @performance.is_primary_version %>
</p>

<p>
  <strong>Type:</strong>
  <%= @performance.type %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @performance.short_desc %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
